<form class="inline" method="post" action="<%= url_for :controller=>:products, :action => :create %>">
	
	<div class="row collapse">
		<input type="hidden" name="next" value="<%= request.url %>" />
		<div class="small-7 columns">
			<input type="text" name="name" placeholder="Name" />
		</div>
		<div class="small-5 columns">
			<button class="button postfix">Create new product</button>
		</div>
	</div>
</form>