<h1>Products</h1>

<ul>
	<% @products.each do |product| %>
	<li>
		<h5><%= product.name %></h5>
		<div>
			<img src="<%= product.preview %>"/>
			<aside><b>Preview</b> - <%= product.preview %></aside>
		</div>
		<p><b>File</b> - <%= product.file %></p>
	</li>
	<% end %>
</ul>
