
@font-face {
    font-family: 'as_grammatika-bold';
    src: url('/media/assets/as_grammatika/as_grammatika-bold-webfont.eot');
    src: url('/media/assets/as_grammatika/as_grammatika-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/media/assets/as_grammatika/as_grammatika-bold-webfont.woff') format('woff'),
         url('/media/assets/as_grammatika/as_grammatika-bold-webfont.ttf') format('truetype'),
         url('/media/assets/as_grammatika/as_grammatika-bold-webfont.svg#as_grammatikabold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'as_grammatika-regular';
    src: url('/media/assets/as_grammatika/as_grammatika-regular-webfont.eot');
    src: url('/media/assets/as_grammatika/as_grammatika-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/media/assets/as_grammatika/as_grammatika-regular-webfont.woff') format('woff'),
         url('/media/assets/as_grammatika/as_grammatika-regular-webfont.ttf') format('truetype'),
         url('/media/assets/as_grammatika/as_grammatika-regular-webfont.svg#as_grammatikaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'as_grammatika-medium';
    src: url('/media/assets/as_grammatika/as_grammatika-medium-webfont.eot');
    src: url('/media/assets/as_grammatika/as_grammatika-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/media/assets/as_grammatika/as_grammatika-medium-webfont.woff') format('woff'),
         url('/media/assets/as_grammatika/as_grammatika-medium-webfont.ttf') format('truetype'),
         url('/media/assets/as_grammatika/as_grammatika-medium-webfont.svg#as_grammatikamedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'as_grammatika-light';
    src: url('/media/assets/as_grammatika/as_grammatika-light-webfont.eot');
    src: url('/media/assets/as_grammatika/as_grammatika-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/media/assets/as_grammatika/as_grammatika-light-webfont.woff') format('woff'),
         url('/media/assets/as_grammatika/as_grammatika-light-webfont.ttf') format('truetype'),
         url('/media/assets/as_grammatika/as_grammatika-light-webfont.svg#as_grammatikalight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'as_grammatika-ultralight';
    src: url('/media/assets/as_grammatika/as_grammatika-ultralight-webfont.eot');
    src: url('/media/assets/as_grammatika/as_grammatika-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/media/assets/as_grammatika/as_grammatika-ultralight-webfont.woff') format('woff'),
         url('/media/assets/as_grammatika/as_grammatika-ultralight-webfont.ttf') format('truetype'),
         url('/media/assets/as_grammatika/as_grammatika-ultralight-webfont.svg#as_grammatikaultralight') format('svg');
    font-weight: normal;
    font-style: normal;

}
